{{$year := placeholder "http.request.orig_uri.path.file"}}
{{$galleryPath := printf "/static/image/gallery/%s" $year}}
{{if not (fileExists $galleryPath)}}
	{{httpError 404}}
{{end}}
{{$gallery := listFiles $galleryPath}}

{{$title := printf "%s screenshots" $year}}
{{$description := printf "Screenshots from Jaunty %s" $year}}
{{$content := dict "title" $title "description" $description "gallery" $gallery}}

{{import "/include/page.html"}}

{{define "page-head"}}
	{{include "/include/head.html" .title .description}}
	<link rel="stylesheet" href="/static/css/pages/galleries.css">
	<link rel="stylesheet" href="/static/css/fancybox.css">
{{end}}

{{define "page-body"}}
	<nav id="navbar">
		<div id="navbar-links">
			<a class="navbar-link" href="/downloads">
				<i class="fa-solid fa-folder"></i>
				Downloads
			</a>
			<a class="navbar-link" href="/">
				<i class="fa-solid fa-house"></i>
				Home
			</a>
			<a class="navbar-link" href="/gallery">
				<i class="fa-solid fa-camera"></i>
				Gallery
			</a>
		</div>
	</nav>
	<main id="main">
		{{range $image := .gallery}}
			<
		{{end}}
	</main>
{{end}}

{{define "page-script"}}
	<script src="/static/js/fancybox.js"></script>
	<script>
		
	</script>
{{end}}

{{template "page" $content}}
