{{$galleriesPath := "/static/image/gallery"}}
{{if not (fileExists $galleriesPath)}}
	{{httpError 404}}
{{end}}
{{$galleries := listFiles $galleriesPath}}

{{$title := "Gallery"}}
{{$description := "A collection of screenshots from previous Jaunty servers!"}}
{{$content := dict "title" $title "description" $description "galleries" $galleries}}

{{import "/include/page.html"}}

{{define "page-head"}}
	{{include "/include/head.html" .title .description}}
	<link rel="stylesheet" href="/static/css/pages/gallery.css">
{{end}}

{{define "page-body"}}
	{{$subtext := "Below you will find collections of screenshots from previous <span class='tag'>Jaunty</span> servers."}}
	{{if eq (len .galleries) 0}}
		{{$subtext = "Eventually this page will link to collections of screenshots from previous <span class='tag'>Jaunty</span> servers. Eventually."}}
	{{end}}
	<main id="main">
		<article id="main-content">
			<h1>Gallery</h1>
			<p><span class="tag">Jaunty</span> has been around for a while. {{$subtext}}</p>
		</article>
		{{if gt (len .galleries) 0}}
			<div id="galleries">
				{{range $year := .galleries}}
					<a class="gallery" href="/galleries/{{$year}}">{{$year}}</a>
				{{end}}
			</div>
		{{end}}
	</main>
{{end}}

{{template "page" $content}}
