{{import "/templates/_page.html"}}

{{define "page-body"}}
<main id="main">
    <section id="main-content">
        <h1 class="title">Welcome to <span class="tag">Jaunty</span></h1>
        <p class="paragraph">Every January, folks from a variety of communities form up to play some survival Minecraft. Gameplay is spiced up a tiny bit with the additon of proximity voice chat and a couple of plugins. Outside of that, it's kept pretty strictly vanilla. After the month has finished, things are wrapped up and folks go their own ways for the year. <strong>That's <span class="tag">Jaunty</span>.</strong> If you'd like to join us, feel free to click <a href="/play">here</a> for more information. You may also want to join the <a href="https://listmonk.jaunty.fun/subscription/form" target="_blank">mailing list</a> to receive updates.</p>
    </section>
</main>
{{end}}

{{template "page"}}
