{{import "/include/page.html"}}

{{define "page-body"}}
	<main id="main">
		<section id="main-content">
			<h1 class="title">Welcome to <span class="tag">Jaunty</span>!</h1>
			<p class="paragraph"><span class="tag">Jaunty</span> is an annual get-together hosted by <a href="https://holedaemon.net" target="_blank">holedaemon</a>. Every January, folks from various communities gather to play the latest release of Minecraft.
			After a month, the server is taken down and the world is provided as a download. Click <a href="/play">here</a> to come play with us!</p>
		</section>
	</main>
{{end}}

{{template "page"}}
