{{$screenshotsPath := "/static/image/screenshot"}}
{{$title := "Screenshots"}}
{{$description := "Screenshots from Jaunty over the years!"}}

{{$content := dict "title" $title "description" $description "screenshots" $screenshotsPath}}

{{import "/include/page.html"}}

{{define "page-head"}}
	{{include "/include/head.html" .title .description}}
	<link rel="stylesheet" href="/static/css/pages/screenshots.css">
{{end}}

{{define "page-body"}}
	{{include "/include/navbar.html"}}

	{{$screenshots := list}}
	{{if fileExists .screenshots}}
		{{$screenshots = listFiles .screenshots}}
	{{end}}

	<main id="main">
		<article id="main-content">
			{{if eq (len $screenshots) 0}}
				<h1>Nothing here</h1>
				<p>No screenshots have been uploaded to the site yet, check back later.</p>
			{{else}}
				<h1>Screenshots</h1>
				<p><span class="tag">Jaunty</span> has been around for a while! Over the years, we've amassed a collection of screenshots from a number of the servers we've played on.</p>
			{{end}}
		</article>
		{{if gt (len $screenshots) 0}}
			<article id="screenshots">
				{{range $path := $screenshots}}
					<a class="screenshot-link" href="/screenshots/{{$path}}">{{$path}}</a>
				{{end}}
			</article>
		{{end}}
	</main>
{{end}}

{{template "page" $content}}
