@use "../abstract/variables" as v;

$base-font-size: 1em;
$base-overflow: hidden;

html {
  background-color: v.$background;
  font-size: $base-font-size;
  overflow-x: $base-overflow;
  overflow-y: $base-overflow;
}

body {
  font-family: v.$family-primary;
  color: v.$foreground;
  font-size: 1em;
  line-height: 1.5;
  min-width: 100%;
}

html, body {
  width: 100vw;
  height: 100vh;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

a {
  color: v.$link;

  &:hover {
    color: v.$link-hover;
  }
}
