@use "../abstract/variables" as v;
@use "../abstract/mixins";

#main {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  @include mixins.flex-column;
  @include mixins.flex-center;

  gap: v.$flex-gap;
}

#main-content {
  width: v.$width;

  @include mixins.flex-column;
  align-items: v.$flex-alignment;

  text-align: v.$text-align;

  @include mixins.medium {
    width: v.$width-medium;
  }
}
