html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  background-color: hsl(221, 14%, 96%);
  font-size: 1em;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  font-family: "Comic Neue";
  color: hsl(221, 14%, 29%);
  font-size: 1em;
  line-height: 1.5;
  min-width: 100%;
}

html, body {
  width: 100vw;
  height: 100vh;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.25rem;
}

a {
  color: hsl(233, 100%, 63%);
}
a:hover {
  color: hsl(233, 100%, 53.55%);
}

@font-face {
  font-family: "Comic Neue";
  src: url("/static/font/COMIC_NEUE.ttf");
}
@font-face {
  font-family: "Hey Fun";
  src: url("/static/font/HEY_FUN.ttf");
}
.tag {
  font-family: "Hey Fun";
  color: hsl(28, 100%, 50%);
}

.hidden {
  display: none !important;
}

.buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  color: hsl(221, 14%, 93%);
  background-color: hsl(28, 100%, 50%);
  padding: 0.75rem;
  border-radius: 0.25rem;
  text-decoration: none;
}
.button:hover {
  color: hsl(221, 14%, 86.4%);
  background-color: hsl(28, 100%, 45%);
  cursor: pointer;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  background-color: hsl(221, 14%, 96%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.modal-loader {
  border: 4px solid hsl(221, 14%, 71%);
  border-top: 4px solid hsl(28, 100%, 50%);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: hsl(28, 100%, 50%);
}

#navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navbar-link {
  font-size: 1.25rem;
  color: hsl(221, 14%, 96%);
  text-decoration: none;
  padding: 0.75rem;
}
.navbar-link:hover {
  background-color: hsl(28, 100%, 42.5%);
  color: hsl(221, 14%, 81.6%);
}

#grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: max-content auto;
  grid-template-columns: auto;
}

#main {
  grid-row: 2/3;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  text-align: center;
}
