$black: hsl(221, 14%, 4%);
$black-bis: hsl(221, 14%, 9%);
$black-ter: hsl(221, 14%, 14%);

$grey-light: hsl(221, 14%, 71%);
$grey-lighter: hsl(221, 14%, 86%);
$grey-lightest: hsl(221, 14%, 93%);
$grey: hsl(221, 14%, 48%);
$grey-dark: hsl(221, 14%, 29%);
$grey-darker: hsl(221, 14%, 21%);

$white: hsl(221, 14%, 100%);
$white-bis: hsl(221, 14%, 98%);
$white-ter: hsl(221, 14%, 96%);

$orange: hsl(15, 88%, 63%);
$blue: hsl(233, 100%, 63%);

$foreground: $grey-dark;
$background: $white-ter;

$size-1: 0.75rem;
$size-2: 1rem;
$size-3: 1.25rem;
$size-4: 1.5rem;
$size-5: 2rem;
$size-6: 2.5rem;
$size-7: 3rem;

$size-small: $size-1;
$size-normal: $size-2;
$size-medium: $size-3;
$size-large: $size-4;

$radius-small: 0.25rem;
$radius: 0.375rem;
$radius-medium: 0.5em;
$radius-large: 0.75rem;
$radius-rounded: 9999px;

$family-primary: "Comic Neue";
$family-secondary: "Hey Fun";

$gap: 32px;
$medium: 769px;
$large: 960px + 2 * $gap;
$larger: 1152px + 2 * $gap;
$largest: 1344px + 2 * $gap;
$breakpoints: (
  "small": (
    "until": $medium,
  ),
  "medium": (
    "from": $medium,
  ),
  "medium-only": (
    "from": $medium,
    "until": $large,
  ),
  "large": (
    "from": $large,
  ),
  "large-only": (
    "from": $large,
    "until": $larger,
  ),
  "until-larger": (
    "until": $larger,
  ),
  "larger": (
    "from": $larger,
  ),
  "larger-only": (
    "from": $larger,
    "until": $largest,
  ),
  "until-largest": (
    "until": $largest,
  ),
  "largest": (
    "from": $largest,
  ),
);

$static-url: "/static";
