@use "sass:color";

// Miscellaneous
$static-url: "/static";

// Initial colors
$white: hsl(221, 14%, 96%);

$grey: hsl(221, 14%, 71%);
$grey-dark: hsl(221, 14%, 29%);

$orange: hsl(28, 100%, 50%);
$blue: hsl(233, 100%, 63%);

// Derived colors
$foreground: $grey-dark;

$background: $white;
$background-hover: color.scale($background, $lightness: -15%);

$primary: $orange;
$primary-hover: color.scale($primary, $lightness: -15%);

$link: $blue;
$link-hover: color.scale($link, $lightness: -15%);

// Fonts and typography
$family-primary: "Comic Neue";
$family-secondary: "Hey Fun";

$text-align: center;
$text-decoration: none;

// Sizing
$size-1: 0.75rem;
$size-2: 1rem;
$size-3: 1.25rem;
$size-4: 1.5rem;
$size-5: 2rem;
$size-6: 2.5rem;
$size-7: 3rem;

// Derived sizing
$space-small: $size-1;
$space-normal: $size-2;
$space-medium: $size-3;
$space-large: $size-4;

$radius: 0.25rem;

// Flex
$flex-wrap: wrap;
$flex-alignment: center;
$flex-gap: $space-normal;

// Viewports
$gap: 32px;

$medium: 769px;
$large: 960px + 2 * $gap;

$width: 75%;
$width-medium: 50%;

$body-size: $size-2;
$body-size-medium: $size-3;
$body-size-large: $size-4;

$header-size: $size-5;
$header-size-medium: $size-6;
$header-size-large: $size-7;
