@use "../abstract/variables" as v;
@use "../abstract/mixins";

#downloads {
  width: 50%;

  @include mixins.flex-column;
  gap: v.$flex-gap;

  padding: v.$space-normal;

  border: 1px solid v.$grey;
  border-radius: v.$radius;

  @include mixins.medium {
    width: 10%;
  }
}

.download-link {
  font-size: v.$body-size;

  color: v.$foreground;
  text-decoration: v.$text-decoration;
}
