@use "sass:color";
@use "../abstract/variables" as v;

#galleries {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: v.$size-2;
}

.gallery {
  width: 25%;
  height: auto;

  font-size: v.$size-6;
  text-align: center;
  text-decoration: none;

  color: v.$background;
  background-color: v.$orange;

  padding: v.$size-1;
  border-radius: v.$radius-small;

  &:hover {
    color: color.scale(v.$background, $lightness: -10%);
    background-color: color.scale(v.$orange, $lightness: -10%);
    cursor: pointer;
  }
}
