@use "../abstract/variables" as v;
@use "../abstract/mixins";

#screenshots {
  width: v.$width;

  @include mixins.flex-row;

  flex-wrap: v.$flex-wrap;
  justify-content: v.$flex-alignment;

  gap: v.$space-small;

  @include mixins.medium {
    width: v.$width-medium;
  }
}

.screenshot-link {
  width: max-content;

  color: v.$background;
  background-color: v.$primary;

  text-align: v.$text-align;
  text-decoration: v.$text-decoration;
  font-size: v.$header-size;

  border-radius: v.$radius;
  padding: v.$space-small;

  &:hover {
    color: v.$background-hover;
    background-color: v.$primary-hover;
  }

  @include mixins.medium {
    font-size: v.$header-size-medium;
  }

  @include mixins.large {
    font-size: v.$header-size-large;
  }
}
