@use "sass:color";
@use "../abstract/variables" as v;

.buttons {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  color: v.$grey-lightest;
  background-color: v.$orange;
  padding: v.$size-1;
  border-radius: v.$radius-small;

  text-decoration: none;

  &:hover {
    color: color.scale(v.$background, $lightness: -10%);
    background-color: color.scale(v.$orange, $lightness: -10%);
    cursor: pointer;
  }
}
