@use "variables" as v;

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center {
  justify-content: center;
  align-items: center;
}

@mixin small {
  @media screen and (max-width: (v.$medium - 1px)) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: v.$medium), print {
    @content;
  }
}

@mixin large {
  @media screen and (min-width: v.$large) {
    @content;
  }
}
